<br>
<footer>
  <div class="w-screen px-4 py-2 bg-gray-800 text-white fixed bottom-0">
    <div class="flex justify-around">
      <div><i class="fas fa-home"></i></div>
      <div><i class="far fa-comment-alt"></i></div>
      <div><i class="fas fa-align-left"></i></div>
      <div><i class="fas fa-history"></i></div>
      <div><i class="far fa-user"></i></div>
    </div>
  </div>
</footer>
