

<header class="flex items-center justify-between px-4 py-2 bg-gray-800">

  <div class="flex items-end">
    <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.87 481.87"><path d="M342.054 160c70.432 72.891 68.438 189.078-4.453 259.51s-189.078 68.438-259.51-4.453-68.438-189.078 4.453-259.51c55.307-53.441 138.068-66.73 207.326-33.291" fill="#e6e6e6"/><circle cx="209.87" cy="288" r="104" fill="#f2f2f2"/><g fill="#06aae9"><path d="M457.87 48c-22.091 0-40-17.909-40-40 0 22.091-17.909 40-40 40 22.091 0 40 17.909 40 40 0-22.091 17.908-40 40-40zM457.87 240c-22.091 0-40-17.909-40-40 0 22.091-17.909 40-40 40 22.091 0 40 17.909 40 40 0-22.091 17.908-40 40-40zM401.87 136h-8c-39.764 0-72-32.235-72-72 0 39.765-32.236 72-72 72 39.764 0 72 32.235 72 72 0-39.765 32.236-72 72-72h8z"/></g><path d="M209.87 176c-61.856 0-112 50.144-112 112s50.144 112 112 112 112-50.144 112-112c-.066-61.828-50.172-111.934-112-112zm0 208c-53.019 0-96-42.981-96-96s42.981-96 96-96 96 42.981 96 96c-.058 52.996-43.005 95.943-96 96z"/><path d="M209.87 208a8 8 0 000 16c35.33.04 63.96 28.67 64 64a8 8 0 0016 0c-.049-44.163-35.838-79.952-80-80zM457.87 40c-17.673 0-32-14.327-32-32a8 8 0 00-16 0c0 17.673-14.327 32-32 32a8 8 0 000 16c17.673 0 32 14.327 32 32a8 8 0 0016 0c0-17.673 14.327-32 32-32a8 8 0 000-16zm-40 21.52A48.349 48.349 0 00404.35 48a48.349 48.349 0 0013.52-13.52A48.349 48.349 0 00431.39 48a48.349 48.349 0 00-13.52 13.52z"/><path d="M457.87 232c-17.673 0-32-14.327-32-32a8 8 0 00-16 0 31.91 31.91 0 01-17.6 28.416 190.833 190.833 0 00-40-68.928A63.668 63.668 0 01393.87 144h8a8 8 0 000-16h-8c-35.33-.04-63.96-28.67-64-64v-8a8 8 0 00-16 0v8a63.897 63.897 0 01-23.672 49.6A190.172 190.172 0 00209.87 96c-106.555-.516-193.352 85.446-193.868 192s85.446 193.352 192 193.867c106.554.516 193.352-85.446 193.867-192a192.929 192.929 0 00-2.792-33.651A31.817 31.817 0 01409.869 280a8 8 0 0016 0c0-17.673 14.327-32 32-32a8 8 0 00.001-16zm-136-133.36A80.413 80.413 0 00359.23 136a80.413 80.413 0 00-37.36 37.36A80.413 80.413 0 00284.51 136a80.417 80.417 0 0037.36-37.36zM209.87 464c-97.202 0-176-78.798-176-176s78.798-176 176-176a174.406 174.406 0 0162.976 11.664A63.595 63.595 0 01249.87 128h-8a8 8 0 000 16h8c35.33.04 63.96 28.67 64 64v8a8 8 0 0016 0v-8a63.598 63.598 0 0111.568-36.592 174.774 174.774 0 0135.24 60.8A7.888 7.888 0 00369.87 240a8 8 0 008 8 30.59 30.59 0 013.336.336c22.198 94.334-36.28 188.802-130.614 211A175.508 175.508 0 01209.87 464zm208-210.48A48.349 48.349 0 00404.35 240a48.349 48.349 0 0013.52-13.52A48.349 48.349 0 00431.39 240a48.349 48.349 0 00-13.52 13.52z"/>
    </svg>
    <h1 class="text-white text-lg uppercase font-semibold tracking-wide pl-2">La Coloc</h1>
  </div>


  <div>
    <button type="button" class="block text-gray-700 hover:text-white focus:text-white focus:outline-none">
      <svg class="h-8 w-8 "xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
      </svg>
    </button>

  </div>

</header>
