<h1 class="text-center">Crée une tâche</h1>

<div class="text-white text-center flex justify-around">
  <div class="<%= params[:action] == 'new' ? 'border-b-2 rounded-bl-md border-yellow-500 bg-gray-800' : 'bg-gray-700' %> w-1/2 py-2 shadow-md" id="taskTab">
    <%= link_to new_task_path do %>
      <h1>Récurrente</h1>
    <% end %>
  </div>
  <div class="<%= params[:action] == 'occasionnel' ? 'border-b-2 rounded-bl-md border-yellow-500 bg-gray-800' : 'bg-gray-700' %> w-1/2 py-2 shadow-md" id="colocTab">
    <%= link_to occasionnel_tasks_path do %>
        <h1>Occasionnelle</h1>
    <% end %>
  </div>
</div>
