<div class="h-96 bg-cover bg-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478473495191-2d8dd1398896?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="flex flex-col items-center text-white font-semibold text-sm py-24">
    <span class="font-bold text-2xl  tracking-wide">Organisez votre colocation</span>
    <span class="pt-4 px-8 font-semibold text-xs uppercase tracking-wide">La meilleur solution pour ne pas perdre tes potes après avoir découvert comment ils vivent vraiment...</span>
     <%= link_to "S'inscrire", new_user_registration_path, class: 'inline-block px-5 py-2 mt-14 rounded-lg bg-yellow-500 text-white uppercase tracking-wide font-semibold text-sm' %></a>
  </div>
</div>

<div class="flex flex-col px-8 py-6 gap-4">
  <div class="bg-blue-200 flex space-between px-2 py-2 pb-4 items-end">
    <%= image_tag "trash.svg", class:"w-24 h-16" %>
    <div class="flex flex-col pl-8">
      <h1 class="font-bold text-lg  tracking-wide py-2">Pratique</h1>
      <p class="font-medium text-xs tracking-wide pr-6">Jetez vos plannings papier à la poubelle</p>
    </div>
  </div>

  <div class="bg-blue-200 flex space-between px-2 py-2 pb-4 items-end">
    <%= image_tag "completed_task.svg", class:"w-24 h-16" %>
    <div class="flex flex-col pl-8">
      <h1 class="font-bold text-lg  tracking-wide py-2">Automatique</h1>
      <p class="font-medium text-xs tracking-wide pr-6">Vos tâches quotidiennes réparties en un clic</p>
    </div>
  </div>

  <div class="bg-blue-200 flex space-between px-2 py-2 pb-4 items-end">
    <%= image_tag "having_fun.svg", class:"w-24 h-16" %>
    <div class="flex flex-col pl-8">
      <h1 class="font-bold text-lg  tracking-wide py-2">Fun</h1>
      <p class="font-medium text-xs tracking-wide pr-6">Plus de prise de tête et de discussion relou...</p>
    </div>
  </div>
</div>
