<% content_for :title, "Invite tes colocs" %>


<div class="bg-gray-800 px-8 py-4 h-screen ">
  <div class="mt-10 bg-gray-200 p-4 text-center border rounded shadow-md">
    <h2 class="text-center font-bold text-xl text-gray-800">
      Invite tes coloc' !
    </h2>
    <div class="mt-5">
     <%= form_tag colocation_create_invitation_path(current_colocation), method: :post do  %>
       <div>
         <p class="text-sm text-gray-700">Rentre un ou plusieurs emails séparés par des espaces.</p>
         <%= text_field_tag "Email", params[:emails], class: "mt-5 block bg-gray-100 px-3 py-2 text-sm mb-3 border border-gray-200 rounded w-full" %>
       </div>
       <div class="mt-10">
          <input type="submit" value="Envoyer une invitation" class="inline-block px-5 py-2 rounded-lg bg-yellow-500 text-white uppercase tracking-wide font-semibold text-sm">
       </div>
     <% end %>
    </div>
  </div>
</div>
