@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.history-avatar {
  position: absolute;
  img {
    position: relative;
    left: 285px;
    bottom: 7.5px;
  }
}


.supergrid {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.supergriditem {
  display: flex;
  align-items: center;
  min-width: 0;
}

.supergriditem > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncatewithoutnowrap {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
}


#marqueur {
  animation: marqueur 1s ease-in-out infinite alternate;
  transform-origin: bottom;

}

@keyframes marqueur {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(60deg);
  }
}


#Aiguille {
  animation: aiguille 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes aiguille {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#cheminee {
  animation: cheminee 3s infinite linear;
  transform-origin: bottom;

}

@keyframes cheminee {
  from {
    transform: rotateX(50deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
