@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.history-avatar {
  position: absolute;
  img {
    position: relative;
    left: 285px;
    bottom: 7.5px;
  }
}


.supergrid {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.supergriditem {
  display: flex;
  align-items: center;
  min-width: 0;
}

.supergriditem > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncatewithoutnowrap {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
}
